{% extends 'base2.html' %}

{% block content %}
    <div class="b2-container">
        <div class="b2-header">
            <h1 class="b2-text-center">Admin Dashboard</h1>
        </div>
        <div style="align-self: center;"></div>
        <h1 style="font-family:Brush Script MT, Brush Script Std, cursive;color: rgb(255, 255, 255); background-color: rgb(247, 191, 201);">K&M Bank</h1>
            <img src="../static/images/483496238_1619683242064304_6182506507140281946_n.jpg" alt="" srcset="">
        </div>

    </div>
{% endblock %}

    